<section class="products__table">
  <h1 class="titulo">Home</h1>
  <div class="table__categories">
    <a href="http://localhost:8080/realtimeproducts/" target="_blank"><button>RTP</button></a>
    <a href="http://localhost:8080/products/" target="_blank"><button>Products</button></a>
    <a href="http://localhost:8080/carts/" target="_blank"><button>Carts</button></a>
    <a href="http://localhost:8080/explain" target="_blank"><button>Explain</button></a>
  </div>
</section>