/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    height: 100vh;
    width: 100vw;
    color: white;
    background-image: linear-gradient(to bottom, #4b4453, #4d4858, #4f4c5d, #515062, #525467, #53586c, #545b70, #545f75, #55637a, #55677e, #556c83, #557087);
}
.contenedor {
    width: 100%;
    padding: 0px 30px 30px 30px;
}

/* Titulo */
.contenedor .titulo {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

/* Formulario */
.contenedor .ingresoProductos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.contenedor .ingresoProductos .ingresoProductos__contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contenedor .ingresoProductos .ingresoProductos__contenedor .contenedor__texto {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.contenedor .ingresoProductos .ingresoProductos__contenedor .contenedor__file {
    width: 30%;
    min-width: 300px;
}
.contenedor .ingresoProductos .ingresoProductos__contenedor input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}
.contenedor .ingresoProductos .contenedor__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contenedor .ingresoProductos div .button {
    width: 90px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

/* Real Time Products */
.contenedor .contenedor__table {
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}
.contenedor .contenedor__table {
    width: 100%;
}
.contenedor .contenedor__table .categories__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 0px 30px 0px 30px;
}
.contenedor .contenedor__table .categories__item {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px black;
    font-weight: bold;
    padding: 0px 30px 0px 30px;
}
.contenedor .contenedor__table .id {
    width: 40px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .code {
    width: 100px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .category {
    width: 125px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .title {
    width: 125px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .thumbnail {
    width: 150px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .price {
    width: 75px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .stock {
    width: 50px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .available {
    width: 75px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .edit {
    width: 50px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}
.contenedor .contenedor__table .delete {
    width: 75px;
    text-align: center;
    overflow: hidden;
    height: 20px;
}

/* Products */
body .products__table {
    width: 100vw;
    height: 100vh;
    text-align: center;
}
body .products__table .titulo {
    padding: 20px;
    text-decoration: underline;
}
body .products__table .table__categories {
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
body .products__table .table__categories .categories__item {
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    aspect-ratio: 1/1.7;
    overflow: hidden;
    margin: 0px 15px 30px 15px;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 2px black;
}
body .products__table .table__categories .categories__item .item__foto {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
}
body .products__table .table__categories .categories__item .item__foto .thumbnail {
    width: 100%;
    aspect-ratio: 1/1;
}
body .products__table .table__categories .categories__item .item__texto {
    padding: 10px;
}